.main {
  min-height: 100vh;
}

.homeNav {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeHeader {
  padding: 2rem;
}

.homeHeader span {
  background: linear-gradient(120deg, var(--primary), var(--accent));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homeHeader h1 {
  font-size: 2rem;
}

.signIn {
  background: var(--primary);
}

.signIn:hover,
.dashboardButton:hover {
  background-color: var(--accent);
}

.userContainer {
  display: flex;
  align-items: center;
}

.dashboardButton {
  background: var(--primary);
  padding: 10px 15px;
  font-size: 0.875rem;
  border-radius: 3px;
  margin-inline: 12px;
  transition: 0.3s ease-in-out all;
}

.signOut {
  background: none;
  color: var(--textMedTransparent);
  font-weight: 400;
  cursor: pointer;
  padding-inline: 0;
}

.profilePic {
  width: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

@media screen and (min-width: 768px) {
  .homeHeader {
    padding: 6rem;
  }
  .homeHeader h1 {
    max-inline-size: 45vw;
    font-size: 3rem;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
